<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="verify-otp">
        <input type="text" name="otp" placeholder="Enter six digit code">
        <button type="submit">next</button>
    </form>     
</body>
</html>