<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="heading">Search friend</div>
        <form action="/find/<%= uid %>">
                <input type="text" name='friend_name' placeholder="Enter frind's name">
                <button type="submit">search</button>
        </form>
    </div>
</body>
</html>